* {
  padding: 0;
  margin: 0;
}

html,
body {
  --black: hsla(240, 6%, 13%);

  --grey: hsla(240, 9%, 89%);

  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.png) no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  min-height: 812px;
}

.faixa img {
  width: 0px;
  height: 0px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

@media screen and (min-width: 960px) {
  body {
    background: url(./images/desktop.png) no-repeat center/cover;
    background-color: #121214;
  }
  main {
    width: 320px;
    height: 500px;
    min-height: 540px;
  }
  .faixa {
    text-align: center;
  }

  .faixa img {
    width: 64px;
    height: 158px;
    margin-top: -140px;
    margin-bottom: -7px;
  }
  .quebra {
    width: 80px;
    height: 8px;
    background: black;
    margin: auto;
    margin-bottom: 0px;
  }

  .avatar {
    margin: 3rem auto 0;
  }
  .avatar span {
    top: -18px;
  }

  .avatar > img {
    width: 9.5rem;
    height: 11rem;
  }
  h1 {
    font-size: 1.2rem;

    margin-top: 0.5rem;
  }
  a {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  ul {
    margin-top: 1.5rem;
  }
}
